
# Ignore all CSV files in the data directory
data/*.csv
data/*.xlsx

data/processed/*.csv
data/processed/*.xlsx

data/raw/*.csv
data/raw/*.xlsx

# But do not ignore example_data.csv
!data/example_data.csv
!data/example_data.xlsx

!data/processed/example_data.csv
!data/processed/example_data.xlsx

!data/raw/example_data.csv
!data/raw/example_data.xlsx



**/.DS_Store
.DS_Store

# R data files
*.RData
*.Rhistory
/.Rproj.user
/.Rproj.user
/.Rproj.user
/.Rproj.user
